body {

    margin: 0;
    padding 0;
   
}

.navbar {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo-container {

    
}


.logo {
    
    width: 200px;
    
}

.subtitle {

    background-color: rgb(244, 237, 224);
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: #107777;
    border-top: 1px solid #fee8af;

}

.title{
    margin-top: 55px;
    text-align: center;
    color: rgba(0, 0, 0, 0.827);
}